[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
uvicorn = "==0.27.0"
httpx = "==0.26.0"
python-dotenv = "==1.0.0"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
